@use "./../01-abstracts/" as *;

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.header {
  padding-top: 20px;
  @include padding;
}

.main {
  @include padding;
}

.footer {
  background-color: $dark-grey;
  @include padding;
  padding-bottom: 60px;
}
