@use "./../01-abstracts/" as *;

@mixin padding {
  padding-left: 16px;
  padding-right: 16px;
  @include breakpoint($md) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.header {
  padding-top: 20px;
  @include padding;
  @include breakpoint($md) {
    padding-top: 29px;
  }
}

.main {
  @include padding;
}

.footer {
  background-color: $dark-grey;
  @include padding;
  padding-bottom: 60px;
  @include breakpoint($md) {
    padding-bottom: 40px;
  }

  & .navbar {
    padding-top: 30px;
    border-top: solid $white 1px;
  }
}
