@use "./../01-abstracts/" as *;

@mixin padding {
  padding-left: 16px;
  padding-right: 16px;
  @include breakpoint($md) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.header {
  padding-top: 20px;
  @include padding;
}

.main {
  @include padding;
}

.footer {
  background-color: $dark-grey;
  @include padding;
  padding-bottom: 60px;
}
