@use "./../01-abstracts/" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.222222px;

  &__input,
  &__textarea {
    width: 100%;
    background-color: transparent;
    resize: none;
    border: none;
    border-bottom: solid 1px $white;
    padding-left: 24px;
    padding-bottom: 17px;
    text-transform: uppercase;
    color: $white;
    outline: none;

    &::placeholder {
      color: $white;
      opacity: 0.5;
    }

    &:active,
    &:focus {
      border-color: $green;
      background: none;
    }

    &--error {
      border-color: $red;
      background-image: url("/src/assets/images/icon-error.svg");
      background-repeat: no-repeat;
      background-position-x: right;
    }
  }

  &__textarea {
    min-height: 107px;
  }

  &__error {
    margin-top: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.166667px;
    color: $red;
    text-align: right;
  }

  &__button {
    align-self: flex-end;
  }
}
