@use "./../01-abstracts/" as *;
@use "./../02-base/typography" as t;

.contact {
  padding: 60px 0 87px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include breakpoint($md) {
    padding-bottom: 92px;
  }
  @include breakpoint($lg) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 84px;
  }

  &__top {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    max-width: 445px;
    @include breakpoint($md) {
      margin-bottom: 48px;
    }
    @include breakpoint($lg) {
      margin: 0;
      text-align: left;
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(40px);
    line-height: rem(40px);
    letter-spacing: rem(-1.13636px);
    margin-bottom: 20px;
    @include breakpoint($md) {
      font-size: rem(72px);
      line-height: rem(72px);
    }
    @include breakpoint($lg) {
      @include t.heading-xl;
      margin-bottom: 36px;
    }
  }

  &__text {
    font-size: rem(16px);
    line-height: rem(26px);
    text-align: center;
    color: $grey;
    @include breakpoint($md) {
      @include t.body;
    }
    @include breakpoint($lg) {
      text-align: left;
    }
  }

  &__form {
    width: 100%;
    max-width: 445px;
    margin: auto;
    @include breakpoint($lg) {
      margin: 0;
    }
  }

  &__rings {
    z-index: 0;
    bottom: 97px;
    left: -359px;
    @include breakpoint($md) {
      bottom: 27px;
      left: -398px;
    }
    @include breakpoint($lg) {
      bottom: 47px;
      left: -370px;
    }
  }
}
