@use "./../01-abstracts/" as *;

.contact {
  padding: 60px 0 87px;
  border-bottom: solid 1px $white;
  margin-bottom: 39px;
  display: flex;
  flex-direction: column;

  &__top {
    text-align: center;
    margin-bottom: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.13636px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: $grey;
  }

  &__rings {
    z-index: 0;
    bottom: 269px;
    left: -343px;
  }
}
