@use "./../01-abstracts/" as *;

.intro {
  margin-top: 331px;
  text-align: center;

  &__top {
    padding-bottom: 80px;
    border-bottom: $white 1px solid;
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    margin-left: calc(-174px / 2);
    max-width: 174px;
  }

  &__title {
    font-weight: 700;
    font-size: rem(40px);
    line-height: rem(40px);
    letter-spacing: rem(-1.13636px);
    margin-bottom: 20px;

    &-name {
      display: inline-block;
      border-bottom: 4px solid $green;
    }
  }

  &__text {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(26px);
    margin-bottom: 24px;
  }

  &__pattern {
    &-rings {
      position: absolute;
      width: 530px;
      top: 124px;
      left: -50%;
      z-index: -2;
    }

    &-circle {
      position: absolute;
      width: 129px;
      top: 254px;
      right: -65px;
      z-index: -2;
    }
  }
}
