@use "./../01-abstracts/" as *;
@use "./../02-base/_typography" as t;

.intro {
  margin-top: 331px;
  text-align: center;
  @include breakpoint($md) {
    margin-top: 90px;
    text-align: left;
  }
  @include breakpoint($lg) {
    margin-top: 127px;
  }

  &__main {
    padding-bottom: 80px;
    border-bottom: $white 1px solid;
    margin-bottom: 40px;
    position: relative;
    @include breakpoint($md) {
      padding-bottom: 60px;
      padding-left: 2px;
    }
    @include breakpoint($lg) {
      padding-bottom: 219px;
      padding-left: 0;
    }

    &-rings {
      top: -300px;
      left: -356px;
      @include breakpoint($md) {
        top: -65px;
        left: -297px;
      }
      @include breakpoint($lg) {
        left: -265px;
      }
    }

    &-circle {
      top: -170px;
      right: -81px;
      @include breakpoint($md) {
        top: unset;
        bottom: 60px;
        right: -98px;
        z-index: -1;
      }
      @include breakpoint($lg) {
        bottom: 174px;
        right: 380px;
      }
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: -423px;
    left: 50%;
    margin-left: calc(-174px / 2);
    max-width: 174px;
    @include breakpoint($md) {
      top: unset;
      left: unset;
      bottom: 60px;
      right: -32px;
      max-width: 322px;
    }
    @include breakpoint($lg) {
      max-width: 445px;
      bottom: 104px;
      right: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(40px);
    line-height: rem(40px);
    letter-spacing: rem(-1.13636px);
    margin-bottom: 20px;
    @include breakpoint($md) {
      font-size: rem(72px);
      line-height: rem(72px);
      letter-spacing: rem(-2.04545px);
      max-width: 445px;
      margin-bottom: 60px;

      & > .br::after {
        content: "\A";
        white-space: pre;
      }
    }
    @include breakpoint($lg) {
      @include t.heading-xl;
      max-width: 706px;
      margin-bottom: 37px;

      & > .br::after {
        content: "";
      }
    }

    &-name {
      display: inline-block;
      border-bottom: 4px solid $green;
      @include breakpoint($md) {
        border-width: 6px;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(26px);
    margin-bottom: 24px;
    color: $grey;
    @include breakpoint($md) {
      max-width: 445px;
      font-size: rem(18px);
      line-height: rem(28px);
    }
    @include breakpoint($lg) {
      margin-bottom: 66px;
    }
  }

  &__skills {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    padding-bottom: 40px;
    border-bottom: $white 1px solid;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(26px);
    position: relative;
    @include breakpoint($md) {
      grid-template-columns: 1fr 1fr;
      column-gap: 7px;
      row-gap: 52px;
      border-bottom: none;
      margin-bottom: 100px;
      padding-bottom: 0;
    }

    &-name {
      font-weight: 700;
      font-size: rem(32px);
      line-height: rem(40px);
      letter-spacing: rem(-1px);
      margin-bottom: 1px;
      @include breakpoint($md) {
        @include t.heading-l;
        margin-bottom: 5px;
      }
    }

    &-years {
      font-size: rem(16px);
      line-height: rem(26px);
      color: $grey;
      @include breakpoint($md) {
        @include t.body;
      }
    }

    &-rings {
      bottom: -65px;
      right: -358px;
    }
  }
}
