@use "./../01-abstracts/" as *;

.intro {
  margin-top: 331px;
  text-align: center;

  &__main {
    padding-bottom: 80px;
    border-bottom: $white 1px solid;
    margin-bottom: 40px;
    position: relative;

    &-rings {
      top: -300px;
      left: -356px;
    }

    &-circle {
      top: -170px;
      right: -81px;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: -423px;
    left: 50%;
    margin-left: calc(-174px / 2);
    max-width: 174px;
  }

  &__title {
    font-weight: 700;
    font-size: rem(40px);
    line-height: rem(40px);
    letter-spacing: rem(-1.13636px);
    margin-bottom: 20px;

    &-name {
      display: inline-block;
      border-bottom: 4px solid $green;
    }
  }

  &__text {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(26px);
    margin-bottom: 24px;
  }

  &__skills {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    padding-bottom: 40px;
    border-bottom: $white 1px solid;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(26px);
    position: relative;

    &-name {
      font-weight: 700;
      font-size: rem(32px);
      line-height: rem(40px);
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 1px;
    }

    &-rings {
      bottom: -65px;
      right: -358px;
    }
  }
}
