@use "./../01-abstracts/" as *;

.intro {
  margin-top: 331px;

  &__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    margin-left: calc(-174px / 2);
    max-width: 174px;
  }

  &__pattern {
    &-rings {
      position: absolute;
      width: 530px;
      top: 124px;
      left: -50%;
      z-index: -2;
    }

    &-circle {
      position: absolute;
      width: 129px;
      top: 254px;
      right: -65px;
      z-index: -2;
    }
  }
}
