@use "./../01-abstracts/" as *;

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  &__name {
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(32px);
    letter-spacing: rem(-0.333333px);
  }

  &__socials {
    display: flex;
    width: 100%;
    max-width: 154px;
    justify-content: space-between;

    &-img {
      max-height: 19px;
    }
  }
}
