@use "./../01-abstracts/" as *;

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  @include breakpoint($md) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__name {
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(32px);
    letter-spacing: rem(-0.333333px);
    @include breakpoint($md) {
      font-size: rem(32px);
      letter-spacing: rem(-0.444444px);
    }
  }

  &__socials {
    display: flex;
    width: 100%;
    max-width: 154px;
    justify-content: space-between;
    @include breakpoint($md) {
      max-width: 192px;
    }
    @include breakpoint($lg) {
      margin-right: 30px;
    }

    &-img {
      max-height: 20px;
      filter: invert(100%) sepia(2%) saturate(7500%) hue-rotate(193deg)
        brightness(111%) contrast(100%);

      @include breakpoint($md) {
        max-height: 25px;
      }

      &:hover {
        filter: invert(85%) sepia(93%) saturate(375%) hue-rotate(73deg)
          brightness(90%) contrast(96%);
      }
    }
  }
}
