@use "./../01-abstracts/" as *;
@use "./../02-base/typography" as t;

.projects {
  margin-bottom: 80px;
  @include breakpoint($md) {
    margin-bottom: 100px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    @include breakpoint($md) {
      margin-bottom: 60px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(40px);
    line-height: rem(40px);
    letter-spacing: rem(-1.13636px);
    @include breakpoint($md) {
      font-size: rem(72px);
      line-height: rem(72px);
      letter-spacing: rem(-2.04545px);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    @include breakpoint($md) {
      grid-template-columns: 1fr 1fr;
      gap: 60px 24px;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;

    &-btns {
      display: flex;
      gap: 30px;
    }
  }

  &__name {
    @include t.heading-m;
    margin-bottom: 7px;
    @include breakpoint($md) {
    }
  }

  &__skills {
    display: flex;
    flex-flow: row wrap;
    gap: 18px;
    color: $grey;
    @include t.body;
  }
}
